<!DOCTYPE html>
<!-- evil calculator is evil. Click "SaltyCalc" to go back to HappyCalc Special functionality for 8 + 8, 7 + 7, and / 0 -->
<html ng-app="calculator">
  <head>
    <meta charset="utf-8">
    <title>SaltyCalc</title>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src = "https://code.jquery.com/jquery.js"></script>
    <script src="saltyclient.js" charset="utf-8"></script>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css" charset="utf-8">
  </head>
  <body ng-controller="MainController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <h1><a href="index.html">SaltyCalc:</a> The calculator that hates you!</h1>
    </nav>

        <div class="container">
          <div class="col-md-4">
            <div class="calcBackground">

              <div ng-model="display" class="display">
                <h4>{{total}}</h4>
              </div>
              <div class="calcContainer">
                <div class="row">
                    <div class="numbers col-md-3 col-xs-3 mbottom">
                      <button class="{{numButton}} btn btn-flex" ng-click="numHandler(numButton)" ng-repeat="numButton in numButtonList track by $index">{{numButton}}</button>
                      <!-- <button class="{{equals}} eqButton btn" ng-click="equalsHandler()">{{equals}}</button> -->
                    </div>
                    <div class="operators col-md-3 col-xs-3 mbottom">
                      <button class="{{operButton}} opButton btn btn-block" ng-click="operHandler(operButton)" ng-repeat="operButton in operButtonList track by $index">{{operButton}}</button>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
  </body>
</html>
